<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApps">
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.OtomotifActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.HealthActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SportActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.TrendingActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.FavoriteActivity"
            android:exported="true" />
        <activity
            android:name=".Ui.RegisterForm"
            android:exported="true" />
        <activity
            android:name=".Ui.LoginForm"
            android:exported="true" />
        <activity
            android:name=".Splash.SplashScreen3"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />
        <activity android:name=".Splash.SplashScreen2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>